<div class="course">
    <div class="courses">
        <h2>COURSES</h2>
    </div>
    <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button> -->
      <div class="main">
        <div class="searchbar">
            <div class="dropdown">
                <button class="dropdown-button">Browse</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="What do you want to Search" aria-label="Search">
              </form>
          </div>
    
          <div class="hero">

            <div class="left-hero">

                <div class="left-hero-content">

                    <h3>Complete Website Resposnive Design: from Figma to Workflow to Website Design</h3>
                    
                    <span>3 in 1 Course: Learn to design websites with Figma, build with Workflow, and make a living freelancing.</span>

                </div>

                <div class="profile-img-container">
                    <div class="profile-img">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" />
                    </div>
                    <div class="profile-img">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle shadow-4" alt="Avatar" />
                    </div>

                    <div class="credits">
                        <div class="name">
                            <span>Created by</span>
                        <span>Prof. Rahul Ahire Sir</span>
                        </div>
                        <div class="rating">
                            <h4>&#9734;</h4>
                            <h4>&#9734;</h4>
                            <h4>&#9734;</h4>
                            <h4>&#9734;</h4>
                            <h4>&#9734;</h4>
                            <span>4.8 (451,444)</span>
                        </div>
                    </div>

                </div>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/r4Kqk_CdCvM?si=ETT8oVusNAlR-Jef" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video"></iframe>

            </div>
            <div class="right-hero">

                <div class="price">

                    <h5>₹5170</h5>

                    <span class="discount-price">₹5170</span>

                    <div class="discount">56% OFF</div>

                </div>
                <span class="offer-time">&#9200;2 days left at this price</span>
                <hr>
                 
            </div>
          </div>
      </div>
      
      
</div>