<div class="course">
    <div class="courses">
        <h2>COURSES</h2>
    </div>
      <div class="main">
        <div class="searchbar">
            <div class="dropdown">
                <button class="dropdown-button">Browse</button>
                <div class="dropdown-content">
                    <a href="#">C</a>
                    <a href="#">C++</a>
                    <a href="#">JAVA</a>
                </div>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="  🔍 What do you want to Search" aria-label="Search">
              </form>
          </div>
    
          <div class="hero">

            <div class="left-hero">

                <div class="left-hero-content">

                    <h3>Master C Programming: Zero to Hero - Unlock the Power of Low-Level Code and Skyrocket Your Software Engineering Career</h3>
                    
                    <span>3 in 1 Course: Learn to code in C, master data structures and algorithms, and launch your career in systems programming.</span>

                </div>

                <div class="profile-img-container">
                    <div class="profile-img">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" />
                    </div>
                    <div class="profile-img">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle shadow-4" alt="Avatar" />
                    </div>

                    <div class="credits">
                        <div class="name">
                            <span>Created by</span>
                        <span>Prof. Rahul Ahire Sir</span>
                        </div>
                        <div class="rating-container">
                            <div class="star-rating">
                                <input type="radio" id="star5" name="rating" value="5">
                                <label for="star5">&#9733;</label>
                                <input type="radio" id="star4" name="rating" value="4">
                                <label for="star4">&#9733;</label>
                                <input type="radio" id="star3" name="rating" value="3">
                                <label for="star3">&#9733;</label>
                                <input type="radio" id="star2" name="rating" value="2">
                                <label for="star2">&#9733;</label>
                                <input type="radio" id="star1" name="rating" value="1">
                                <label for="star1">&#9733;</label>
                            </div>
                            <span class="rating-stats">4.8 (451,455)</span>
                        </div>
                    </div>

                </div>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/r4Kqk_CdCvM?si=ETT8oVusNAlR-Jef" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video"></iframe>

                <div class="nav">
                    <a href="#overview-scroll">Overview</a>
                    <a href="#curriculum-scroll">Curriculum</a>
                    <a href="#instructor-scroll">Instructor</a>
                    <a href="#review-scroll">Review</a>
                </div>
                <hr class="nav-hr">

                <div class="nav-content">
                    <div class="overview" id="overview-scroll">
                        <h3>Overview</h3>
                        <span class="nav-content-span">
                            In an era where technological advancement drives innovation, mastering the fundamentals of programming is crucial. Our C Programming Language course is crafted to provide you with a solid foundation in one of the most influential programming languages ever developed. C is the backbone of modern technology, essential for creating operating systems, embedded systems, and complex applications. Its efficiency and versatility make it indispensable for any serious programmer.
                        </span>
                        
                        <div class="learn">
                            <h5>What you will learn in this course</h5>
                            <div class="main-learn">
                                <div class="left-learn">
                                    <span>✓ Understand the fundamentals of the C Programming Language</span>
                                    <span>✓ Create your first C Application</span>
                                    <span>✓ Understand variables and the different data types</span>
                                    <span>✓ Understand the core language that most </span>
                                </div>
                                <div class="right-learn">
                                    <span>✓ Make yourself more marketable for entry level programming positions</span>
                                    <span>✓ Learn one of the most popular, widly used languages in the world</span>
                                    <span>✓ Apply for real-time programming positions</span>
                                    <span>✓ Learn how to write high-quality code</span>
                                </div>
                            </div>   
                        </div>

                        <div class="course-for">
                            <h5>Who this course is for:</h5>
                            <div class="main-course">
                                <span>➡ Anyone looking to learn how to program in the C language</span>
                                <span>➡ Anyone looking to learn how to program in the C language</span>
                                <span>➡ Anyone looking to learn how to program in the C language</span>
                                <span>➡ Anyone looking to learn how to program in the C language</span>
                                <span>➡ Anyone looking to learn how to program in the C language</span>
                                <span>➡ Anyone looking to learn how to program in the C language</span>
                                <span>➡ Anyone looking to learn how to program in the C language</span>
                            </div>
                        </div>
                        <div class="course-req">    
                            <h5>Course requirements</h5>
                            <div class="li-main">
                                <ul class="main-req">
                                    <li>A computer running Microsoft Windows, Linux or the Mac operating systems</li>
                                    <li>At least 4GB of ram is recommended</li>
                                    <li>No programming experience, all concepts taught in this class!</li>
                                    <li>A Problem-Solving Mindset</li>
                                    <li>Commitment and Patience</li>    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="curriculum" id="curriculum-scroll">
                        <h3>Curriculum</h3>
                        <div class="container mt-5">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Introduction to Programming
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Welcome to Class! <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Overview <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Creating a C Program <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                            Data Types and Operators
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Overview <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Basic Data Types <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Basic Operators <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                            Console Input and Output
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Introduction <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Basic Console Operations <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Advanced Output Techniques <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                            Control Structures
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Conditionals Overview <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Loops Basics <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Nested Loops <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                            Arrays and Strings
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Array basics <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">String Manipulation <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Multidimensional Arrays <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                            Functions
                                        </button>
                                    </h2>
                                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Function Basics, Defining Function <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Returning Data from Functions <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Local and Global Variable <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingSeven">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                            Pointers
                                        </button>
                                    </h2>
                                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Pointer Basics <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Dynamic Memory Allocation <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Memory Leaks and Management <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingEight">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                                            Storage Classes, Dynamic Memory Allocation
                                        </button>
                                    </h2>
                                    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Overview <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">malloc, calloc and realloc <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Using Dynamic Memory <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingNine">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                                            File IO
                                        </button>
                                    </h2>
                                    <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Accessing File <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Reading a File <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Writing to a File <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTen">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                                            Structures and Unions
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Overview <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Struct <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Unions <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingEleven">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                                            Command Line Arguements
                                        </button>
                                    </h2>
                                    <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">Introduction to Command Line Arguement <span class="float-end">12:12</span></li>
                                                <li class="list-group-item">Properties <span class="float-end">13:40</span></li>
                                                <li class="list-group-item">Real Time Examples <span class="float-end">16:27</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="instructor" id="instructor-scroll">
                        <h3>Course Instructor</h3>
                        <div class="instructor-main">
                            <div class="instructor-profile">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" />
                            </div>
                            <div class="instructor-info">
                                <h3>Rahul Ahire</h3>
                                <span>Full Stack Web Developer * Founder of Techonsy</span><br>
                                <label class="star" for="star1">&#9733; <span class="span-star">4.9 Course Rating</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="review" id="review-scroll">
                        <h3>Review</h3>
                        <span class="nav-content-span">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                        </span>
                    </div>
                </div>
            </div>
            <div class="right-hero">

                <div class="price">

                    <h5>₹5170</h5>

                    <span class="discount-price">₹5170</span>

                    <div class="discount">56% OFF</div>

                </div>
                <span class="offer-time">&#9200;2 days left at this price</span>
                <hr>

                <div class="course-right">
                    <div class="course-duration">
                        <span>🕙 Course Duration</span>
                        <span class="course-text">6 Months</span>
                    </div>
                    <div class="course-level">
                        <span>📊 Course Level</span>
                        <span class="course-text">Beginner</span>
                    </div>
                    <div class="course-language">
                        <span>🗣 Language</span>
                        <span  class="course-text">English</span>
                    </div>
                </div>

                <div class="cart">
                    <button>Add To Cart</button>
                </div>
                <div class="buy">
                    <button>Buy Now</button>
                </div>
                
                <div class="right-courses">
                    <h5>This course includes:</h5>
                    <span>🕘 Lifetime access</span>
                    <span>💲30 days money back guarantee</span>
                    <span>📁Free exercises file</span>
                    <span>🏆Shareable certificate of completion</span>
                    <span>📱Access on mobile, tablet and TV</span>
                    <span>🛜100% online course</span>
                </div>

            </div>
          </div>
      </div>
      
      
</div>