<div class="course">
    <div class="courses">
        <h2>COURSES</h2>
    </div>
      <div class="main">
        <div class="searchbar">
            <div class="dropdown">
                <button class="dropdown-button">Browse</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="  🔍 What do you want to Search" aria-label="Search">
              </form>
          </div>
    
          <div class="hero">

            <div class="left-hero">

                <div class="left-hero-content">

                    <h3>Complete Website Resposnive Design: from Figma to Workflow to Website Design</h3>
                    
                    <span>3 in 1 Course: Learn to design websites with Figma, build with Workflow, and make a living freelancing.</span>

                </div>

                <div class="profile-img-container">
                    <div class="profile-img">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" />
                    </div>
                    <div class="profile-img">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle shadow-4" alt="Avatar" />
                    </div>

                    <div class="credits">
                        <div class="name">
                            <span>Created by</span>
                        <span>Prof. Rahul Ahire Sir</span>
                        </div>
                        <div class="rating-container">
                            <div class="star-rating">
                                <input type="radio" id="star5" name="rating" value="5">
                                <label for="star5">&#9733;</label>
                                <input type="radio" id="star4" name="rating" value="4">
                                <label for="star4">&#9733;</label>
                                <input type="radio" id="star3" name="rating" value="3">
                                <label for="star3">&#9733;</label>
                                <input type="radio" id="star2" name="rating" value="2">
                                <label for="star2">&#9733;</label>
                                <input type="radio" id="star1" name="rating" value="1">
                                <label for="star1">&#9733;</label>
                            </div>
                            <span class="rating-stats">4.8 (451,455)</span>
                        </div>
                    </div>

                </div>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/r4Kqk_CdCvM?si=ETT8oVusNAlR-Jef" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video"></iframe>

                <div class="nav">
                    <a href="#overview-scroll">Overview</a>
                    <a href="#curriculum-scroll">Curriculum</a>
                    <a href="#instructor-scroll">Instructor</a>
                    <a href="#review-scroll">Review</a>
                </div>
                <hr class="nav-hr">

                <div class="nav-content">
                    <div class="overview" id="overview-scroll">
                        <h3>Overview</h3>
                        <span class="nav-content-span">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                        </span>
                    </div>
                    <div class="curriculum" id="curriculum-scroll">
                        <h3>Curriculum</h3>
                        <span class="nav-content-span">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                        </span>
                    </div>
                    <div class="instructor" id="instructor-scroll">
                        <h3>Instructor</h3>
                        <span class="nav-content-span">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                        </span>
                    </div>
                    <div class="review" id="review-scroll">
                        <h3>Review</h3>
                        <span class="nav-content-span">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deleniti quos perspiciatis ex, rem quo, nesciunt facere sint asperiores dignissimos expedita. Corrupti molestiae mollitia eveniet tempora distinctio, atque quo nobis?
                        </span>
                    </div>
                </div>
            </div>
            <div class="right-hero">

                <div class="price">

                    <h5>₹5170</h5>

                    <span class="discount-price">₹5170</span>

                    <div class="discount">56% OFF</div>

                </div>
                <span class="offer-time">&#9200;2 days left at this price</span>
                <hr>

                <div class="course-right">
                    <div class="course-duration">
                        <span>🕙 Course Duration</span>
                        <span class="course-text">6 Months</span>
                    </div>
                    <div class="course-level">
                        <span>📊 Course Level</span>
                        <span class="course-text">Beginner</span>
                    </div>
                    <div class="course-language">
                        <span>🗣 Language</span>
                        <span  class="course-text">English</span>
                    </div>
                </div>

                <div class="cart">
                    <button>Add To Cart</button>
                </div>
                <div class="buy">
                    <button>Buy Now</button>
                </div>
                
                <div class="right-courses">
                    <h5>This course includes:</h5>
                    <span>🕘 Lifetime access</span>
                    <span>💲30 days money back guarantee</span>
                    <span>📁Free exercises file</span>
                    <span>🏆Shareable certificate of completion</span>
                    <span>📱Access on mobile, tablet and TV</span>
                    <span>🛜100% online course</span>
                </div>

            </div>
          </div>
      </div>
      
      
</div>